.hero {
    padding-top: 6rem;
    background-image: url(img/bgj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(50, 150, 0, 0) 25%);
    bottom: 0px;
}

.hero h1 {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px, 2px, 5px, yellow;
}

.gradient1 {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, #000, #5e8538);
}

section {
    scroll-margin-top: 60px;
}

.about {
    background-color: #000;
    color: #fff;
}

.about img {
    border: 5px solid chartreuse;
    border-radius: 20px;
}

.container img {
    box-sizing: border-box;
    border: 5px solid chartreuse;
    border-radius: 8px;
}

.contact {
    background-color: #000;
    color: #fff;
}
